<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../public/styles.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <title>Welcome to Kokoa Clone</title>
</head>

<body>
  <div class="status-bar">
    <div class="status-bar__column">
      <span>No Service</span>
      <i class="fas fa-wifi"></i>
    </div>
    <div class="status-bar__column">
      <span>18:43</span>
    </div>
    <div class="status-bar__column">
      <span>110%</span>
      <i class="fas fa-battery-full fa-lg"></i>
      <i class="fas fa-bolt"></i>
    </div>
  </div>

  <header class="welcome-header">
    <h1 class="welcome-header__title">Welcome to Kokoa Clone</h1>
    <p class="welcome-header__text">
      If you have a Kokoa Account, log in with your email or phone number.
    </p>
  </header>

  <form action="/login" method="get" id="login-form">
    <input name="id" type="text" placeholder="Email" />
    <input name="pw" type="password" placeholder="Password" />
    <input type="submit" value="Log In" />
  </form>
  <div class="text-center" >
    <span><a href="/register" style="text-decoration: none; color: black;">회원가입</a></span>
    <!--<span><a href="#" style="text-decoration: none; color: black;">비밀번호 재설정</a></span>-->
  </div>
  <div id="no-mobile">
    <span>Your screen is too big ㅠㅠ</span>
  </div>

  <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>
  <!--Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
</body>

</html>